.red {
  background-color: rgb(133, 68, 68);
  color: rgb(235, 227, 227);
}

.green {
  background-color: rgb(54, 144, 69);
  color: rgb(235, 227, 227);
}

.yellow {
  background-color: rgb(195, 202, 130);
  color: rgb(53, 47, 47);
}
